obj-*
*.axf
*.hex
*.s
simavr/simavr
simavr/run_avr
*.a
.tags*
._*
*.vcd
TAGS
callgrind.out.*
*~
*.o
*.elf
*.objdump
perf.data
.DS_Store
.make.options*
simavr/py/build/
simavr/py/csimavr.py
simavr/py/csimavr_wrap.c
simavr/py/simavr_wrap.c
*.pyc
*.a
